beautifulsoup4==4.12.3
cryptography==42.0.5
faicons==0.2.2
geopy==2.4.1
gspread==6.0.2
gspread-dataframe==3.3.1
htmltools==0.5.1
pandas==2.2.1
playwright==1.41.2
plotly==5.19.0
pytest==8.0.2
pytest-playwright==0.4.4
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
rsconnect_python==1.22.0
shiny==0.7.1
shinyswatch==0.4.2
timezonefinder==6.4.1
us==3.1.1
Wikipedia-API==0.6.0